{{- define "header" }}
    <script>
        const SUT = "{{ .Context.SUT }}";
        const url = "http://{{ $.Common.Domain }}/{{ $.Common.Prefix }}"

        function deleteUser(id) {
            fetch(`${url}/admin/user/${id}?sut=${encodeURIComponent(SUT)}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    response.text().then(text => {
                        alert(text);
                    });
                }
            }).catch(error => {
                alert(error);
            })
        }
    </script>
{{- end }}
{{- define "content" }}
    <h1>{{ .Common.Title }}</h1>

    <section>
        <h2>Users</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Admin</th>
                <th></th>
            </tr>
            {{- range $index, $user := .Context.Users }}
            <tr data-testid="data-row">
                <td>
                    <p>{{ $user.Username }}</p>
                </td>
                <td>
                    <input type="checkbox" name="admin" {{ if $user.Admin }}checked{{ end }} {{ if eq $.Context.Caller $user.ID }}disabled{{ end }} />
                </td>
                <td>
                    <button type="submit" name="delete" onclick="deleteUser('{{ $user.ID }}')" {{ if eq $.Context.Caller $user.ID }}disabled{{ end }}>Delete</button>
                </td>
            </tr>
            {{- end }}
        </table>
    </section>
    
    {{- if .Context.Error }}
    <p class="error">{{ .Context.Error }}</p>
    {{- end }}
{{- end }}
