{{- define "header" }}
    <script>
        const SUT = "{{ .Context.SUT }}";
        const url = "http://{{ $.Common.Domain }}/{{ $.Common.Prefix }}"

        function deleteUser(id) {
            fetch(`${url}/admin/user/${id}?sut=${encodeURIComponent(SUT)}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    response.text().then(text => {
                        alert(text);
                    });
                }
            }).catch(error => {
                alert(error);
            })
        }

        function updateUser(id, value) {
            fetch(`${url}/admin/user/${id}?sut=${encodeURIComponent(SUT)}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    admin: value
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    response.text().then(text => {
                        alert(text);
                    });
                }
            }).catch(error => {
                alert(error);
            })
        }

        function navigate(path) {
            window.location.href = `${url}/${path}`;
        }
    </script>
{{- end }}
{{- define "content" }}
    <section>
        <h1>Users</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Admin</th>
                <th></th>
            </tr>
            {{- range $index, $user := .Context.Users }}
            <tr data-testid="data-row">
                <td>
                    <p>{{ $user.Username }}</p>
                </td>
                <td>
                    <input
                        type="checkbox"
                        name="admin"
                        {{ if $user.Admin }}checked{{ end }}
                        {{ if eq $.Context.Caller $user.ID }}disabled{{ end }}
                        onclick="updateUser('{{ $user.ID }}', this.checked)"
                    />
                </td>
                <td>
                    <button
                        type="submit"
                        name="delete"
                        {{ if eq $.Context.Caller $user.ID }}disabled{{ end }}
                        onclick="deleteUser('{{ $user.ID }}')"
                    >
                        Delete
                    </button>
                </td>
            </tr>
            {{- end }}
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button type="submit" onclick="navigate('admin/invite')">Invite</button>
                </td>
            </tr>
        </table>
    </section>
    
    {{- if .Context.Error }}
    <p class="error">{{ .Context.Error }}</p>
    {{- end }}
{{- end }}
